.tiles{width:100%;height:auto;}
.tile{position:relative;float:left;width:calc(50% - 10px);height:500px;overflow:hidden;margin: 0 5px;}
.photo{position:absolute;top:0;left:0;width:100%;height:100%;background-repeat:no-repeat;background-position:center;background-size:cover;transition:transform .5s ease-out;}
.txt{position:absolute;z-index:2;right:0;bottom:10%;left:0;font-family:'Roboto Slab',serif;font-size:9px;line-height:12px;text-align:center;cursor:default;display:none;}
.x{font-size:32px;line-height:32px;display:none;}
.tile2 { height: 245px; margin-top: 10px; }
.tile3 { width:100%;height:520px;}
.tile4 { width:100%;height:400px;}

	@media screen and (max-width: 1080px){
		.tile3 { width:100%;height:610px;}
	}
	@media screen and (max-width: 991px){
	    .tiles{height:400px; float: left;}
	    .tile {width:50%; margin: 0 0; height: 400px; }
	    .tile2 { height: 200px; }
	    .tile3 { width:100%;height:610px;}
	    .tile4 { width:100%;height:400px;}
	}
	@media screen and (max-width: 767px){
	    .tile3 { width:100%;height:400px;}
	}