 
/*------------------------------------------------------*/			
.jcarousel-skin-tango .jcarousel-direction-rtl { direction: rtl;}
.jcarousel-skin-tango .jcarousel-container-horizontal { margin:0 ; width:100%}
.jcarousel-skin-tango .jcarousel-clip { overflow: hidden;}
.jcarousel-skin-tango .jcarousel-clip-horizontal { height: auto; width: 100%; }
.jcarousel-skin-tango .jcarousel-item-horizontal { margin: 0 1px ; }
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {margin-left: 10px; margin-right: 0;}
.jcarousel-skin-tango .jcarousel-item-vertical { margin-bottom: 10px;}
.jcarousel-skin-tango .jcarousel-item-placeholder { color: #000000;}
.jcarousel-skin-tango .jcarousel-next-horizontal {
    background:url(../img/next.png) no-repeat scroll 0 0 transparent;
    cursor: pointer;
	width:20px;
    height: 20px;
    position: absolute;
    right: 0;
    top: -35px
}
.jcarousel-skin-tango .jcarousel-next-horizontal:hover{
    background: url(../img/next_hover.png) no-repeat scroll 0 0 transparent;
  	cursor: pointer;
	width:20px;
    height: 20px;
    position: absolute;
    right: 0;
    top: -35px  
}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {
    background-image: url(../Images/active.png);
    left: 5px;
    right: auto;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    background: url(../img/Prev.png) no-repeat scroll 0 0 transparent;
    cursor: pointer;
  	width:20px;
    height: 20px;
    position: absolute;
    right:30px;
    top:  -35px
}
.jcarousel-skin-tango .jcarousel-prev-horizontal:hover {
    background: url(../img/Prev_hover.png) no-repeat scroll 0 0 transparent;
    cursor: pointer;
	width:20px;
    height: 20px;
    position: absolute;
    right:30px;
    top:  -35px 
}
  
 
  