@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=vietnamese');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic');
 
@charset "utf-8";
/* CSS Document */
.bg1{background:#F00; color:#ff0}
.bg2{background:#F0f; color:#ff0}
.bg3{background:#Ff0; color:#f00}
.bg4{background:#F36; color:#6F3}
.bg5{background:#660; color:#93C}
.bg6{background:#C30; color:#999}
ul, li {list-style:none; margin:0; padding:0} 
:after, :before {font-family:'FontAwesome';}
:focus {border: none; outline:none}
h1, h2, h3, h4, h5, h6 {/*font-family: 'Open Sans Condensed', sans-serif; */margin:0; padding:0 }
body {font-family: 'Roboto', sans-serif;  line-height: 150%;font-size: 13px; overflow-x:hidden;   margin:0; padding:0;  color:#333!important }
a {color:#333}
a:hover {color: #c71f26}
a ,a:hover, img  { text-decoration: none!important;  cursor:pointer; 
-moz-transition: .4s ease;
-o-transition: .4s ease;
-webkit-transition: .4s ease;
 transition: .4s ease;
}
html {scroll-behavior: smooth;}
 
::-webkit-input-placeholder {color: #AAA} 
:-moz-placeholder {color: #AAA}  
::-moz-placeholder {color: #AAA} 
:-ms-input-placeholder {color: #AAA} 

header {position:fixed; top:0; left:0; background:rgba(255,255,255,.9); z-index:999; width:100%; }
.logo {width:170px; padding: 5px 0; float:left}
.logo img {height:80px}
.widget-head { float:right} 
nav {position:relative; z-index: 999;  width:100%; float:left ;} 

.search-block {width: 220px; float: right; margin: 0 50px; padding: 24px 0}
.search-block input[type="textbox"]{width: 100%;  border: 1px solid #BBB; padding:10px 30px 12px 10px ;  text-align:left; background:#FFF url(../img/search.png) no-repeat center right; font-size:13px; 
-moz-transition: .4s ease;
-o-transition: .4s ease;
-webkit-transition: .4s ease;
 transition: .4s ease;
 -moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
}
.search-block input[type="image"]{ position:absolute; right:-3px; top: -4px; border: none; }
.flag {width:40px; float: right; padding: 31px 0; }
.flag a {float:left}
.flag img {width:40px}

 
.title {width: 100%; float: left; padding: 140px 0 40px 0; text-align: center; font-size: 34px; background:url(../img/bg-title.png) center bottom no-repeat; text-transform: uppercase; font-weight: bold; margin-bottom: 40px} 
 
.block-slider-item {width:100%; float:left; position:relative } 
.block-slider-item .owl-nav .owl-prev, .owl-theme .owl-nav .owl-next{display:inline-block;cursor:pointer; width:30px; height:30px;
-moz-transition: .4s ease;
-o-transition: .4s ease;
-webkit-transition: .4s ease;
 transition: .4s ease; }
.block-slider-item .owl-nav .owl-next{background:url(../img/owl_next.png) no-repeat ; position:absolute; right:-30px; top: 40%; opacity:0}
.block-slider-item .owl-nav .owl-prev{background:url(../img/owl_prev.png) no-repeat ; position:absolute; left: -30px ; top: 40%; opacity:0}
.block-slider-item:hover .owl-nav .owl-next{right:0px; opacity:1 }
.block-slider-item:hover .owl-nav .owl-prev {left:0px; opacity:1}


.block-slider-item .owl-carousel .owl-item img {display: initial;width: auto;}
.block-slider-item .owl-carousel .owl-item {padding: 10px}


#chothue {background: url(../img/bg-chothue.png) center top repeat-y; padding-bottom: 40px}


#chothue .title a {color:#025902}
#chothue .product-block .pic-news { overflow:hidden; width:100%; height: 256px ;float:left; text-align:center; vertical-align:middle; box-shadow: 0px 0px 10px #999; border-radius: 10px  }
#chothue .product-block .pic-news a {display:table-cell; vertical-align:middle; width:500px; height:256px; text-align:center; position:relative; background:#FFF}
#chothue .product-block .pic-news a img {max-width:100%; max-height:100%}
#chothue .product-block .pic-news a:hover img {transform: scale(1.1);
-webkit-transform:  scale(1.1);
-moz-transform: scale(1.1);
-o-transform: scale(1.1);
-ms-transform:  scale(1.1); 
}

#chothue .product-block h3 {color: #00ac00; width: 100%; float: left; text-align: center; font-size: 18px; margin-top: 10px}
#chothue .product-block h3 a  {color: #00ac00; }
#chothue .product-block h3 a:hover {color: #000}



#duan {background: url(../img/bg-duan.png) center top repeat-y; padding-bottom: 50px}
#duan .title {background:url(../img/bg-title-1.png) center bottom no-repeat;}
#duan .title a {color:#FFF}
#duan .product-block .pic-news { overflow:hidden; width:100%; height: 256px ;float:left; text-align:center; vertical-align:middle;  border: 3px solid #FFF;  background:#FFF; position: relative}
#duan .product-block .pic-news > a {display:table-cell; vertical-align:middle; width:500px; height:256px; text-align:center; position:relative}
#duan .product-block .pic-news > a img {max-width:100%; max-height:100%}
#duan .product-block .pic-news > a:hover img {transform: scale(1.1);
-webkit-transform:  scale(1.1);
-moz-transform: scale(1.1);
-o-transform: scale(1.1);
-ms-transform:  scale(1.1); 
}

.content-project {position: absolute;right: 0; top:0; background: rgba(0,0,0,0.6); width: 50%;height: 100%; padding: 10px; color: #FFF;text-align: left; font-size: 14px }
.content-project h4 > a {text-align: left; font-size: 18px; color: #00ac00; font-weight: bold; margin-bottom: 10px; text-transform: uppercase; width: 100%; float: left; color: #00ac00; }
.content-project h4 > a:hover {color: #000}
.content-project .viewmore {width: 100%; float: left; text-align: center}
.content-project .viewmore a {background: #00ac00; border-radius: 5px; padding: 5px 10px; color: #FFF; font-size: 12px}
.content-project .viewmore a:hover {background: #000}

.more-all {width: 100%; float: left; padding: 40px 0 0 0; text-align: center}
.more-all a {background: #999; color: #FFF; border-radius: 4px; padding: 8px 30px; font-size: 14px}
.more-all a:hover {background: #008000}


#tintuc {background: #f8f9fa; padding-bottom: 30px} 
#tintuc .product-block .pic-news { overflow:hidden; width:100%; height: 256px ;float:left; text-align:center; vertical-align:middle;   }
#tintuc .product-block .pic-news a {display:table-cell; vertical-align:middle; width:500px; height:256px; text-align:center; position:relative;  background:#FFF}
#tintuc .product-block .pic-news a img {max-width:100%; max-height:100%}
#tintuc .product-block .pic-news a:hover img {transform: scale(1.1);
-webkit-transform:  scale(1.1);
-moz-transform: scale(1.1);
-o-transform: scale(1.1);
-ms-transform:  scale(1.1); 
}


#tintuc .news-slide {background: #FFF; padding-bottom: 20px;float: left; width: 100%}
#tintuc p {float: left; width: 100%; padding: 10px 15px; font-size: 14px; color: #999 }
#tintuc h3 {padding: 0 15px;height: 40px; float: left; width: 100%}
#tintuc h3 a {color: #666; font-size: 16px; line-height: 1.5; }
#tintuc h3 a:hover {color: #008000}


.copyright {width:100%; float: left; padding:15px 0; background:#ffffa8; color:#FFF; margin-top:30px; text-align: center; color: #999}

 
footer{width:100%; float:left; padding: 30px 0 0 0; background:#DDD} 
.footer-address {width: 50%;float: left}
.footer-address h4 {font-size: 20px; color: #333; margin-bottom: 20px}
.footer-address ul li {width: 100%; float: left; margin-bottom: 10px; font-size: 16px; color: #666}
.footer-address ul li i {width: 90px; height: 30px ;float: left; margin-right: 10px; background: url(../img/icon-footer.png) center no-repeat; }
.footer-address ul li span {width: calc(100% - 100px);float: left}
.footer-social {width: 40%; float: right}


.hotline-left {background: #F00; bottom: 0; left: 0; border-radius: 0 10px 0 0 }
.hotline-right {background: #008000; bottom: 0; right: 0 ; border-radius: 10px 0 0 0  }
.hotline-left, .hotline-right {color: #FFF; font-weight: bold; font-size: 20px; background-image:url(../img/hotline.png); background-repeat: no-repeat; background-position: 10px center; padding: 15px; float: left; position: fixed; z-index: 999; padding-left: 50px}
.hotline-left a, .hotline-right a {color: #FFF}

 
/*=======SUB_BG====== */
.sub-bg { padding:20px 0; width:100%; float:left; color:#333;  margin-bottom: 20px; padding-top:120px; background:url(../img/bg-subhead.jpg) center no-repeat}
.sub-bg h1 { color: #7fff7f;float:left; font-size:12px; font-weight:normal; padding-top:4px}
.sub-head {float: left; font-size:14px}
.sub-head a {color:#FFF; font-size:14px; padding-right:5px; float:left} 
.sub-head a:after {content:"\f101";  font-family: 'FontAwesome'; padding-left:5px; color: #7fff7f} 
.sub-head a:hover {color:#000} 
 

.nav-page {width:100%; float:left; text-align:right; }
.nav-page a {height:40px; padding:5px 10px; line-height:40px; background:#FFF; border:1px solid #CCC ; margin:0; font-weight:bold; font-size:12px}
.nav-page a:hover,.nav-page a.active {background:#333; border:1px solid #000 ;color:#FFF } 
 
   
/*=======TOP-Page======*/
#toTop {display:none;text-decoration:none;	position:fixed;	bottom:60px; right:10px; overflow:hidden; width:40px; height:40px;border:none;text-indent:100%;	background:url(../img/top.png) no-repeat left top; z-index:9999}
#toTopHover {background:url(../img/top.png) no-repeat left -40px;width:40px; height:40px; display:block; overflow:hidden; float:left; opacity: 0; -moz-opacity: 0; filter:alpha(opacity=0);}
#toTop:active, #toTop:focus {outline:none;}
 
  
/*=======LIST PRODUCT======*/
.list-product {width:100%; float:left; margin-bottom:20px}
.list-product ul li {width:30.99%; float:left; margin-right:40px; margin-bottom:30px} 
.list-product ul li:nth-child(3n) { margin:0}
.list-product ul li:nth-child(3n + 1) {clear:both}


.detail-product {width:100%; float:left;}
.detail-product ul li {width:23.8%; float:left; margin-right:20px; margin-bottom:30px; } 
.detail-product ul li:nth-child(4n) { margin-right:0}
.detail-product ul li .pic-news { overflow:hidden; width:100%; height: 200px ;float:left; text-align:center; vertical-align:middle;  box-shadow: 0 3px 5px #333; }
.detail-product ul li .pic-news a {display:table-cell; vertical-align:middle; width:500px; height:200px; text-align:center; position:relative}
.detail-product ul li .pic-news a img {max-width:100%; max-height:100%}
.detail-product ul li .pic-news a:hover img {transform: scale(1.1);
-webkit-transform:  scale(1.1);
-moz-transform: scale(1.1);
-o-transform: scale(1.1);
-ms-transform:  scale(1.1); 
}
 
.detail-product .modal { display: none; position: fixed; z-index: 9999; padding-top: 100px; left: 0; top: 0; width: 100%; height: 100%; overflow: auto; background-color: rgba(0,0, 0,0.5)}
.detail-product .modal-content {position: relative;  margin: auto; padding: 0;  animation-name: zoom; animation-duration: 0.6s; text-align: center; max-width:900px; max-height:600px; border:5px solid #FFF; overflow:hidden } 
@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

.detail-product .close {color: white;position: absolute;top:0 ;right: 15px; font-size: 35px;font-weight: bold; z-index:999; color:#FFF; opacity:1}
.detail-product .close:hover, .close:focus {color: #999; text-decoration: none; cursor: pointer;}
.detail-product .mySlides {display: none;}
.detail-product .cursor {cursor: pointer;}

.detail-product .prev,.detail-product .next {cursor: pointer; position: absolute; top: 50%; width: auto; padding: 16px; margin-top: -50px; color: white; font-weight: bold; font-size: 20px; transition: 0.6s ease; border-radius: 0 3px 3px 0; user-select: none; -webkit-user-select: none;}
.detail-product .next {right: 0; border-radius: 3px 0 0 3px;}
.detail-product .prev {left: 0; border-radius: 3px 0 0 3px;}
.detail-product .prev:hover, .detail-product .next:hover { background-color: rgba(0, 0, 0, 0.8);}
.detail-product .numbertext { color: #f2f2f2; font-size: 12px; padding: 8px 12px; position: absolute; top: 0; width: 100%;  background: rgba(0,0,0,0.6);  text-align: left;}


.detail-product .caption-container { text-align: center; background-color: black; padding: 2px 16px;  color: white;}
.detail-product .mySlides img {width:100%}


.detail-news {width:100%; float:left; line-height:1.5}
.detail-news img {text-align:center; margin:0 auto; max-width:100%}


/*---------CONTACT--------- */ 
.contact-form  {width:100%; float:left;}
.contact-form ul li {margin-bottom:10px; width:50%; float:left; padding:2px 10px}
.contact-form p {margin-bottom: 5px; font-weight: bold; color:#666; font-size:14px; padding:0 10px}
.contact-form input[type="text"], .contact-form textarea, .form-popup ul li input[type="text"], .form-popup ul li  textarea {border:1px solid #CCC; width:100%; float:left; background:#FFF;
font-size:13px; color:#666; padding: 10px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;}

.contact-form input[type="button"], .form-popup ul li input[type="button"] {background:#007700 url(../img/icon-send.png) no-repeat 10px center ; padding:15px 50px ; border:none; color:#FFF; font-weight:bold; float:right; font-size:16px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;}

.contact-map {width:100%; float:left; margin-top:40px}
.contact-map ul li {margin-bottom:10px; width:50%; float:left; padding:5px 10px; margin-bottom:20px}
.contact-map ul li iframe {box-shadow:0px 10px 10px #CCC; margin-bottom:20px}
.contact-map ul li b {width:100%; float:left; font-size:18px; color:#666; margin-bottom:10px}
.contact-map ul li p {width:100%; float:left; font-size:16px; color:#999;}


	
@media (min-width: 1366px){
.container {width: 1280px;}
}


@media only screen and (max-width: 1366px){ 
.search-block {width: 220px; margin: 0 20px;}	
#chothue .product-block .pic-news, #chothue .product-block .pic-news a { height: 236px;}
#duan .product-block .pic-news, #duan .product-block .pic-news > a { height: 236px;}	
#tintuc .product-block .pic-news, #tintuc .product-block .pic-news a { height: 236px;}	

.detail-product ul li { width: 23.68%;}
.detail-product ul li .pic-news , .detail-product ul li .pic-news a{height:180px}	
	
}


@media only screen and (max-width: 1200px){
.search-block {width: 180px;}	
#chothue .product-block .pic-news, #chothue .product-block .pic-news a { height: 292px;}
#duan .product-block .pic-news, #duan .product-block .pic-news > a { height: 292px;}	
#tintuc .product-block .pic-news, #tintuc .product-block .pic-news a { height: 292px;}	
.footer-address , .footer-social{width: 100%; float: left;}	
.list-product ul li { margin-right:20px; width: 31.9%;}	

#chothue .list-product .pic-news, #chothue .list-product  .pic-news a {height: 200px;}	
#duan .list-product .pic-news, #duan .list-product  .pic-news > a {height: 200px;}	
#tintuc .list-product .pic-news, #tintuc  .list-product  .pic-news a {height: 200px;}		

.detail-product ul li {width: 23.4%;}	
.detail-product ul li .pic-news , .detail-product ul li .pic-news a{height:146px}	


}

@media only screen and (max-width: 1009px){
.logo {position:absolute; left:0; z-index:9999; padding:0;width:auto }
.logo img {height:50px}
.widget-head {width: 100%; position: absolute; left: 0; top: 0}
.search-block { margin:0;margin-top: 60px; padding:0; width:calc(100% - 50px); padding-bottom:10px}
.flag{padding:0; margin-top: 70px; margin-left: 10px;}
.content { padding-top: 110px;}

#chothue .product-block .pic-news, #chothue .product-block .pic-news a { height: 220px;}
#duan .product-block .pic-news, #duan .product-block .pic-news > a { height: 220px;}	
#tintuc .product-block .pic-news, #tintuc .product-block .pic-news a { height: 220px;}	
.list-product ul li {width: 31.4%;}


#chothue .list-product .pic-news, #chothue .list-product  .pic-news a {height: 196px;}	
#duan .list-product .pic-news, #duan .list-product  .pic-news > a {height: 196px;}	
#tintuc .list-product .pic-news, #tintuc .list-product  .pic-news a {height: 196px;}
 
}


@media only screen and (max-width: 992px){
.list-product ul li:nth-child(odd) {width: calc(50% - 15px) ;  margin-left:0; margin-right:0; float:left; margin-bottom:20px; }
.list-product ul li:nth-child(even) {width: calc(50% - 15px);  margin-left:0; margin-right:0; float:right; margin-bottom:20px;  }
.list-product ul li:nth-child(2n + 1) {clear: both}
.list-product ul li:nth-child(3n + 1) {clear: none;}
 
#chothue .list-product .pic-news, #chothue .list-product  .pic-news a {height: 230px;}	
#duan .list-product .pic-news, #duan .list-product  .pic-news > a {height: 230px;}	
#tintuc .list-product .pic-news, #tintuc .list-product  .pic-news a {height: 230px;}



.detail-product ul li:nth-child(n) {width: calc(50% - 15px); float:left; margin-right:0}
.detail-product ul li:nth-child(2n) {width:  calc(50% - 15px); float:right; margin-right:0}
.detail-product ul li .pic-news , .detail-product ul li .pic-news a{height:230px}	




	
}

@media only screen and (max-width: 768px){
	
#chothue .product-block .pic-news, #chothue .product-block .pic-news a { height: auto; max-height:220px}
#duan .product-block .pic-news, #duan .product-block .pic-news > a { height: auto; max-height:220px}	
#tintuc .product-block .pic-news, #tintuc .product-block .pic-news a {height: auto; max-height:220px}
 
 
.list-product h3 a {font-size:14px; margin-top:0}

footer {padding-bottom:50px}
.hotline-left, .hotline-right {width:50%; font-size:14px; border-radius:0}
.block-slider-item .owl-nav .owl-next{right:0; }
.block-slider-item .owl-nav .owl-prev{left:0 ; }

.detail-product ul li .pic-news , .detail-product ul li .pic-news a{height: auto}	
}
 
@media only screen and (max-width: 720px){
}
@media only screen and (max-width: 667px){
.title {font-size:20px}	
.contact-form ul li, .contact-map ul li {margin-bottom: 10px; padding:0; width: 100%;}
}

@media only screen and (max-width: 650px){
}

@media only screen and (max-width: 580px){
 .list-product ul li, .list-product ul li:nth-child(odd), .list-product ul li:nth-child(even) {width:100%; margin:0 ; margin-bottom:20px; }
 
 .detail-product ul li:nth-child(n) {width:100%; float:left; margin-right:0}
.detail-product ul li:nth-child(2n) {width: 100%; float:left; margin-right:0}
 
 