{include file="$usertemplate/header.tpl.html"}  



<section class="sub-bg">
  <div class="container">
    {if $lang == 'vn'}
		<div class="sub-head"> <a href="#"><i class="fa fa-home"></i> Trang chủ </a>

				{foreach from=$pathParentItems key=i item=pathParentItem}
							<h1><a title="{$pathParentItem->getName($lang)|strip_tags}" href="{$pathParentItem->getUrl($lang)}">{$pathParentItem->getName($lang)|strip_tags}</a></h1>
						{/foreach} 
		  
		</div>
	{else}
		<div class="sub-head"> <a href="#"><i class="fa fa-home"></i> Home </a>
			{foreach from=$pathParentItems key=i item=pathParentItem}
							<h1><a title="{$pathParentItem->getName($lang)|strip_tags}" href="{$pathParentItem->getUrl($lang)}">{$pathParentItem->getName($lang)|strip_tags}</a></h1>
						{/foreach} 
    </div>
	{/if}
	
  </div>
</section>


<section>
  <div class="title" style="padding-top: 50px"><a href="#" style="color:#005a02">{$pageName}</a></div>
  <div class="container">
    <div class="detail-product">
	
	
	     <ul>
	  
	  						 {assign var=imagesItems value=$productItem->getFile(1)}
								 {if $imagesItems}
									{foreach from=$imagesItems item=imagesItem key=i}
									 <li><div class="pic-news"><a rel="example_group" href="{$ROOTPATH}/gallery/avatar_upload/products/storage/{$imagesItem}" title=""> <img src="{$ROOTPATH}/gallery/avatar_upload/products/thumb/{$imagesItem}" /> </a></div></li>  
										 
													
												 
									{/foreach}
								{/if}	
								                
      </ul> 
	
	
	
	<!--
      <ul>
	  
	  						 {assign var=imagesItems value=$productItem->getFile(1)}
								 {if $imagesItems}
									{foreach from=$imagesItems item=imagesItem key=i}
										<li>
											<div class="pic-news">
												<a>
													<img src="{$ROOTPATH}/gallery/avatar_upload/products/thumb/{$imagesItem}" onclick="openModal();currentSlide({$i+1})" class="hover-shadow cursor">
												</a>
											</div>
										</li>
									{/foreach}
								{/if}	
								                
      </ul> 


 
<div id="myModal" class="modal">

  <div class="modal-content">
   <span class="close cursor" onclick="closeModal()">&times;</span>
   
			{assign var=imagesItems value=$productItem->getFile(1)}
								 {if $imagesItems}
									{foreach from=$imagesItems item=imagesItem key=i}
										<div class="mySlides"><div class="numbertext">{$i}</div><img src="{$ROOTPATH}/gallery/avatar_upload/products/storage/{$imagesItem}"></div>
										
									
									{/foreach}
								{/if}
   
 

 
    
 
    
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>




</div>
</div>


-->
 
    </div>
    
        
		
  </div>
</section>

 
<script type="text/javascript" src="{$ROOTPATH}/templates/{$usertemplate}/js/jquery-1.7.2.min.js"></script> 
<script type="text/javascript" src="{$ROOTPATH}/templates/{$usertemplate}/js/jquery.fancybox-1.3.4.pack.js"></script>

{literal}
<script type="text/javascript">
    $(document).ready(function() {
        $("a[rel=example_group]").fancybox({
            'transitionIn'      : 'none',
            'transitionOut'     : 'none',
            'titlePosition'     : 'over',
            'titleFormat'       : function(title, currentArray, currentIndex, currentOpts) {
                return '<span id="fancybox-title-over">Hình ảnh ' + (currentIndex + 1) + ' / ' + currentArray.length + (title.length ? ' &nbsp; ' + title : '') + '</span>';
            }
        });
    });
</script>
{/literal}
		
{include file="$usertemplate/footer.tpl.html"}