{include file="$usertemplate/header.temp.html"}
{include file="$usertemplate/left.temp.html" title=left}
{assign var=formId value='addItem'}
{assign var=rightPanel value='hidden'}
<div id="contextual" class="{$rightPanel}">
<div class="levBtn">
<p><a href="#"><img src="templates/{$usertemplate}/images/btn_arrow_02.gif" alt="" width="18" height="19" /></a></p>
</div>
<div class="contextType">
<form action="" method="post" name="form2">
<fieldset>
<p>
<label for="textbox">Textbox</label>
<input type="text" value="" name="textbox" id="textbox" />
</p>
<p>
<label for="textarea">Textarea</label>
<textarea name="textarea" id="textarea" rows="5" cols="5"></textarea>
</p>
<p>
<label for="combobox">Combobox</label>
<select name="combobox" id="combobox" >
<option selected="selected" value="">------------</option>
</select>
</p>
<p class="radioType">
<input type="radio" name="radio" id="radio" />
<label for="radio">radio 1</label>
<input type="radio" name="radio" id="radio2" />
<label for="radio2">radio 2</label>
</p>
<p class="radioType">
<input type="checkbox" name="checkbox" id="checkbox" />
<label for="checkbox">checkbox 1</label>
</p>
</fieldset>
</form>
</div>
</div>
<div id="content">
<div class="highlight">
<h2><a href="">{$amessages.control_panel}</a> &raquo; {$amessages.add_user}</h2>
<ul id="tablist">
<li class="current"><a href="{$script}?op=admin&amp;part=user&amp;act=add&amp;pId={$pId}" title="{$amessages.add_user}">{$amessages.add_user}</a> </li>
<li><a href="{$script}?op=admin&part=user&act=list" title="{$amessages.list_user}">{$amessages.list_user}</a> </li>
<li><a href="{$script}?op=admin&part=user&act=list&plus=cleanTrash" title="{$amessages.clean_trash}">{$amessages.clean_trash}</a> </li>
</ul>
{if $infoText}
<div class="{$infoClass}">
<h4>Result:</h4>
<p>{$infoText}</p>
</div>
{/if}
<div class="formType">
<form action="{$script}" method="post" id="{$formId}" name="{$formId}">
<fieldset>
<p>
<label for="status">{$amessages.status} *</label>
<span>{$amessages.status_help}</span>
<select name="status">
{$listStatus}
</select>
</p>
<p>
<label for="status">{$amessages.user_type} *</label>
<span>{$amessages.user_type_help}</span>
<select name="type">
<option value="-1">/</option>
{$listUserType}
</select>
</p>
<p>
<label for="username">{$amessages.username} *</label>
<span>{$amessages.username_help}</span>
<input type="text" name="username" value="{$username}" />
</p>
<p>
<label for="pass">{$amessages.pass}*</label>
<span>{$amessages.pass_help}</span>
<input type="password" name="pass" value="{$pass}" />
</p>
<p>
<label for="pass">{$amessages.confirm}*</label>
<span>{$amessages.confirm_help}</span>
<input type="password" name="confirm" value="{$confirm}" />
</p>
<p>
<label for="fname">{$amessages.firstname}*</label>
<span>{$amessages.fullname_help}</span>
<input type="text" name="fname" value="{$fname}" /></p>
<p>
<label for="lname">{$amessages.lastname}*</label>
<span>{$amessages.lastname_help}</span>
<input type="text" name="lname" value="{$lname}" /></p>
<p>
<label for="about">{$amessages.about} </label>
<span>{$amessages.about_help}</span>
<input type="text" name="about" value="{$about}" />
</p>
<p>
<label for="email">{$amessages.email} *</label>
<span>{$amessages.email_help}</span>
<input type="text" name="email" value="{$email}" />
</p>
<p>
<label for="company">{$amessages.company} </label>
<span>{$amessages.company_help}</span>
<input type="text" name="company" value="{$company}" />
</p>
<p>
<label for="tax">{$amessages.tax} </label>
<input type="text" name="tax" value="{$tax}" />
</p>
<p>
<label for="address">{$amessages.address} </label>
<span>{$amessages.address_help}</span>
<input type="text" name="address" value="{$address}" />
</p>
<p>
<label for="address">{$amessages.address2} </label>
<span>{$amessages.address2_help}</span>
<input type="text" name="address2" value="{$address2}" />
</p>
<p>
<label for="tel">{$amessages.tel} </label>
<span>{$amessages.tel_help}</span>
<input type="text" name="tel" value="{$tel}" />
</p>
<p>
<label for="fax">{$amessages.fax} </label>
<span>{$amessages.fax_help}</span>
<input type="text" name="fax" value="{$fax}" />
</p>
<p>
<label for="cell">{$amessages.cell} </label>
<span>{$amessages.cell_help}</span>
<input type="text" name="cell" value="{$cell}" />
</p>
<!--
<p class="radioType">
<input type="radio" name="radio3" id="radio3" />
<label for="radio3">radio 3</label>
<input type="radio" name="radio3" id="radio4" />
<label for="radio4">radio 4</label>
</p>
<p class="radioType">
<input type="checkbox" name="checkbox2" id="checkbox2" />
<label for="checkbox2">checkbox 2</label>
</p>
-->
<p class="btnType">
<input type="hidden" name="op" value="{$op}" />
<input type="hidden" name="part" value="{$part}" />
<input type="hidden" name="act" value="{$act}" />
<input type="hidden" name="searchTerms" value="{$searchTerms}"/>
<input type="hidden" name="searchStatus" value="{$searchStatus}"/>
<span><input type="reset" value="{$amessages.reset}" title="{$amessages.reset}" name="btnReset" /></span>
<span><input type="submit" value="{$amessages.save}" title="{$amessages.save}" name="btnSubmit" /></span>
</p>
</fieldset>
</form>
</div>
</div>
</div>
</div>
<div class="push"></div>
</div>
{include file="$usertemplate/footer.temp.html" title=footer}
