<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Control Panel</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="deracms, control panel" />
<meta name="description" content="Control Panel - Content Management System" />
<meta name="Robots" content="index,all"/>
<link rel="stylesheet" type="text/css" href="templates/{$usertemplate}/css/screen.css" media="all" />
<script language="javascript" type="text/javascript" src="../js/tinymce/tiny_mce_gzip.php"></script>
<script language="javascript" type="text/javascript" src="../js/tinymce/tiny_mce-plog.js"></script>

<script language="javascript" type="text/javascript" src="../js/tinymce/tiny_mce-plog-resourcelist.js"></script>
<script language="javascript" type="text/javascript" src="../js/tinymce/tiny_mce_popup.js"></script>
</head>
<body>
<div id="container">
<div id="#">
</div>
<div id="main">
{assign var=formId value='listItems'}
{assign var=rightPanel value='hidden'}
<div id="main">
<div class="highlight">
<div class="searchType">
<form action="{$script}" method="post" name="searchMenu" id="searchMenu">
<fieldset>
<p>
<label>Album</label>
<select name="searchAlbum">
<option value="0">{$amessages.thu_muc_goc}</option>
{$listGallery}
</select>
<input type="hidden" name="op" value="manage" />
<input type="hidden" name="part" value="albumresource" />
<input type="hidden" name="act" value="list" />

<input type="submit" value="{$amessages.display}" title="{$amessages.display}" name="btnDisplay" class="btnDisplay" />
</p>
</fieldset>
</form>
</div>
{if $infoText}
<div class="{$infoClass}">
<h4>Result:</h4>
<p>{$infoText}</p>
</div>
{/if}
<form id="{$formId}" name="{$formId}" action="{$script}" method="post">
<div class="tableContent">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<thead>
<tr>
<th>{$amessages.tap_tin}</th>
<th>{$amessages.cac_hanh_dong}</th>
</tr>
</thead>
<tbody>
{if $listObjects}
{assign var=i value=$start}
{foreach from=$listObjects item=object}
<td><a href="{$script}?op=manage&amp;part=albumresource&amp;act=list&amp;pId={$object->getId()}">
<img src="templates/{$usertemplate}/images/img_clip.jpg" alt="album" /><br/>{$object->getName('vn')}</a></td>
<td>
<a href="javascript:addHtmlareaAlbumLink('http://ac1.derasoft.com/vn/gallery/{$object->getSlug()}.html','{$object->getName('vn')}','{$object->getName('vn')}');">{$amessages.tai_album}</a>

</td>
</tr>
{/foreach}
{/if}
</tbody>
</table>
<div class="paging">

<ul>
<li>{$amessages.page}</li>
{$adminPager}
<li>{$amessages.total} {$rows|number_format} {$amessages.records}, {$pages|number_format} {$amessages.pages}</li>
</ul>
</div>
</div>
</form>
</div>
</div>
</div>
<div class="push"></div>
</div>

