
/* REQUIRED for core functionality */

.responsive-tabs__heading { display: none;}
.responsive-tabs__list__item { display: inline; cursor:pointer;}
 
@media (max-width: 767px) {
	.responsive-tabs__list { display: none;}
	.responsive-tabs__heading { display: block; cursor: pointer; }
	.responsive-tabs__panel--closed-accordion-only { display: none;}
	
}

@media (min-width: 768px) {
	.responsive-tabs__panel--closed-accordion-only { display: block !important;}
}

/* END - Required for core functionality */


/* OPTIONAL - Basic Skin */

.responsive-tabs-wrapper { 
	clear: both;
	zoom: 1; 
}
.responsive-tabs-wrapper:before,
.responsive-tabs-wrapper:after {
    content: "";
    display: table;
} 
.responsive-tabs-wrapper:after {
    clear: both;
}

.responsive-tabs__heading:focus,
.responsive-tabs__list__item:focus { outline: 1px solid #ccc;  }

.responsive-tabs__heading--active:focus,
.responsive-tabs__list__item--active:focus { outline: none !important;}

.responsive-tabs__list { font-size: 14px ; margin: 10px 0 0 0; padding: 0;border-bottom: 1px solid #ddd; padding-bottom:6px;  font-weight:bold; color:#fff}
.responsive-tabs__list__item { background: #0f6c3f; color:#fff; padding: 8px 15px;  margin-right: 10px; 
border: 1px solid #ddd;

-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;

 }
.responsive-tabs__list__item:hover {background: #009933; color:#fff }
.responsive-tabs__list__item--active, 
.responsive-tabs__list__item--active:hover {  background: #fff; border-bottom-color: #fff; color:#0f6c3f}

.responsive-tabs__panel { border:1px solid #ccc; border-top:none; padding:10px; text-align:justify}

@media only screen and (min-width: 768px) and (max-width: 959px) {
	
	.responsive-tabs__list__item { background: #eee; padding: 8px 7px;  margin-right: 5px; color:#333;
border: 1px solid #ddd;

-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;

 }
}

@media (max-width: 767px) {
		.responsive-tabs h2 {width:100% ;font-size:13px; float:left; text-align:center; font-weight:bold  }
	.responsive-tabs__heading {  
		padding: 3% 5%;    
		background: #0f6c3f;
		position: relative;
		-webkit-border-radius: 5px;
        -moz-border-radius: 5px;
       border-radius: 5px;
       margin-top:5px;
       color:#fff;
	}

	.responsive-tabs__heading:after {
		content:"";
		display: block;
		position: absolute;
		right: 20px;
		top: 40%;
		width: 0; 
		height: 0; 
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 5px solid #000;
	}
	.responsive-tabs__heading:hover,
	.responsive-tabs__heading--active:hover { background-color: #02cd6b}
	.responsive-tabs__heading--active { background: #02cd6b;}
	.responsive-tabs__heading--active:after {
		border-bottom: 10px solid #000;
		border-top:0;
	 }
	 
	 .responsive-tabs__panel {  border:none; text-align:justify  }
}

/* END - Optional - Basic Skin */
