



{include file="$usertemplate/header.tpl.html"}  

   <div class="maincontent">
    <div class="container-xxy">
        <div class="row">

            <div class="col-md-12 padi05">
                <div class="titlistpro">
                    <h5><span>{$pageName}</span></h5>
                </div>
            </div>
            <div class="col-md-12 padi05">
					
					<p style="color:#060">{$messages.finish_order_title}</p>
			
          </div>
          
{include file="$usertemplate/footer.tpl.html"}


