

   <div class="maincontent">
    <div class="container-xxy">
        <div class="row">

            <div class="col-md-12 padi05">
                <div class="titlistpro2">
                    <h5><span>{$pageName}</span></h5>
                </div>
				<form id="filter" action="" class="form_sort_price_cate form_sort_price_op clearfix fn" method="post">
                <div class="showfind">
                    <select class="form nsx-1" name="sort_price_op" onchange="this.form.submit()">
                        <option value="-1">Không chọn</option>
						<option value="1" {if $sort_price_op eq '1'} selected="selected"{/if}>Giá cao đến thấp</option>
						<option value="2" {if $sort_price_op eq '2'}selected="selected"{/if}>Giá thấp đến cao</option>
                    </select>
                </div>
				
				<input type="hidden" name="op" value="products" />
				{if $slug}<input type="hidden" name="slug" value="{$slug}" />{/if}
				{if $id}<input type="hidden" name="id" value="{$id}" />{/if}
				{if $idnsx}<input type="hidden" name="idnsx" value="{$idnsx}" />{/if}
				{if $type}<input type="hidden" name="type" value="{$type}" />{/if}
				</form>
            </div>
            <div class="col-md-12 padi05">
			
				{if $proItems}
					{foreach from=$proItems item=proItem key=i}
					
					<div class="boxpropad">
                    <div class="boxpro">
                        <div class="abimg">
                            <a class="first" href="{$proItem->getViewUrl($lang)}" title ="{$proItem->getName($lang)}">
                                <img src="{$ROOTPATH}/gallery/avatar_upload/products/thumb/{$proItem->getAvatar()}" alt="{$proItem->getName($lang)}" />
                            </a>
                            {assign var=imagesItems value=$proItem->getFile(1)}
									 {if $imagesItems}
										{foreach from=$imagesItems item=imagesItem key=i}
										
											{if $i==1}
												 <a class="last" href="{$proItem->getViewUrl($lang)}" title ="{$proItem->getName($lang)}">
													<img src="{$ROOTPATH}/gallery/avatar_upload/products/thumb/{$imagesItem}" alt="{$proItem->getName($lang)}" />
												</a>
											{/if}
										{/foreach}
										{else}
										 <a class="last" href="{$proItem->getViewUrl($lang)}" title ="{$proItem->getName($lang)}">
											<img src="{$ROOTPATH}/templates/{$usertemplate}/images/p1.jpg" alt="{$proItem->getName($lang)}" />
										</a>
										
									{/if}	
                        </div>
                        <div class="viewpro">
                            <a href="{$proItem->getViewUrl($lang)}" title ="{$proItem->getName($lang)}">{$proItem->getName($lang)}</a>
                            <p>{$proItem->getPrice()|number_format:0:",":"."} ₫</p>
                              <span>{$proItem->getSPrice()|number_format:0:",":"."} ₫</span>
                        </div>
                    </div>
                </div>
					
				{/foreach}
				{/if}	
				
				{if $pages>1}
					<div class="page">
						<ul>
						 {$pager}
						</ul>
					</div>
				{/if}  
			
			
          </div>
          

