
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../favicon.ico">

<title>Mắt Kính Điện Biên Phủ</title>

<link href="css/bootstrap.min.css" rel="stylesheet">
<script src="js/ie-emulation-modes-warning.js"></script>
<link href="css/carousel.css" rel="stylesheet">

</head>

<link href="css/stylef.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<!-- NAVBAR
================================================== -->
<body>

<div class="mainheader">
    <div class="headertop">
        <div class="container-xxx">
            <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-12 padi05 fr">
                    <div class="carttop">
                        <ul>
                            <li class="carticon"><a href="#">Giỏ hàng</a></li>
                            <li class="iconcart"><a href="#">Thanh toán</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-7 col-sm-8 col-xs-12 padi05 fr">
                    <div class="conttop">
                        <ul>
                            <li><a href="#">Hotline: <span class="hotline1">0961 824 566</span></a></li>
                            <li><a href="#">Email: <span class="email1">matkinthsieure1@gmail.com</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-xxx">
        <div class="row">
            <div class="col-md-2 col-sm-5 col-xs-12 padi05">
                <div class="logo"><a href="#"><img src="images/logo.png" alt="" /></a></div>
            </div>
            <div class="col-md-9 col-sm-7 col-xs-12 padi05">
                <div class="menuTop">
                    <div class="menudes">
                        <ul>
                            <li><a href="#">Khuyến mãi</a></li>
                            <li><a href="#">Mắt kính nam</a></li>
                            <li><a href="#">Mắt kính nữ</a></li>
                            <li>
                                <a href="#">Gọng kính</a>
                                <ul>
                                    <li><a href="#">Gọng kính nhựa</a></li>
                                    <li><a href="#">Gọng kính kim loại</a></li>
                                    <li><a href="#">Gọng kính cước</a></li>
                                    <li><a href="#">Gọng kính khoan</a></li>
                                    <li><a href="#">Gọng titanium</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Tròng kính</a>
                                <ul>
                                    <li><a href="#">Tròng kính Hoya</a></li>
                                    <li><a href="#">Tròng kính Seiko</a></li>
                                    <li><a href="#">Tròng kính Tokai</a></li>
                                    <li><a href="#">Tròng kính Essilor</a></li>
                                    <li><a href="#">Tròng kính Excelite</a></li>
                                    <li><a href="#">Tròng kính Polarized</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Kính áp tròng</a></li>
                            <li><a href="#">Giới thiệu</a></li>
                        </ul>
                    </div>
                    <div class="menumob">
                        <div class="productMenu">
                            <ul class="cap1">
                                <li>
                                    <a href="#">Menu</a>
                                    <ul class="cap2">
                                        <li><a href="#">Khuyến mãi</a></li>
                                        <li><a href="#">Mắt kính nam</a></li>
                                        <li><a href="#">Mắt kính nữ</a></li>
                                        <li>
                                            <a href="#">Gọng kính</a>
                                            <ul class="cap3">
                                                <li><a href="#">Gọng kính nhựa</a></li>
                                                <li><a href="#">Gọng kính kim loại</a></li>
                                                <li><a href="#">Gọng kính cước</a></li>
                                                <li><a href="#">Gọng kính khoan</a></li>
                                                <li><a href="#">Gọng titanium</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Tròng kính</a>
                                            <ul class="cap3">
                                                <li><a href="#">Tròng kính Hoya</a></li>
                                                <li><a href="#">Tròng kính Seiko</a></li>
                                                <li><a href="#">Tròng kính Tokai</a></li>
                                                <li><a href="#">Tròng kính Essilor</a></li>
                                                <li><a href="#">Tròng kính Excelite</a></li>
                                                <li><a href="#">Tròng kính Polarized</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Kính áp tròng</a></li>
                                        <li><a href="#">Giới thiệu</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1 col-sm-7 col-xs-12 padi05">
                <div class="search">
                    <div class="productMenu2">
                        <ul class="cap1">
                            <li>
                                <a href="#">.</a>
                                <ul class="cap2">
                                    <li>
                                        <form action="" method="post" name="search">
                                            <input type="text" name="keywords" id="txtsearch-tensp" value="Nhập vào từ khóa" onclick="" onblur="" class="txtsearch boxs" />
                                            <input type="submit" name="timkiem" id="btnsearch" value="" class="btnsearch boxb" />
                                            <input type="hidden" name="op" value="search" />
                                            <input type="hidden" name="lang" value="" />
                                        </form>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="mob">
                            <li>
                                <form action="" method="post" name="search">
                                    <input type="text" name="keywords" id="txtsearch-tensp" value="Nhập vào từ khóa" onclick="" onblur="" class="txtsearch boxs" />
                                    <input type="submit" name="timkiem" id="btnsearch" value="" class="btnsearch boxb" />
                                    <input type="hidden" name="op" value="search" />
                                    <input type="hidden" name="lang" value="" />
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="maincontent">
    <div class="container-xxy">
        <div class="row">
            <div class="col-md-12 padi05">
                <div class="titlistpro">
                    <h5><span>TIN TỨC</span></h5>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 padi015">
                <div class="tinhome">
                    <a class="pic" href="#">
                        <img src="images/p6.jpg" alt="" />
                    </a>
                    <p class="tit">
                        <a href="{$entriesItem->getUrl($lang)}">Nhà mạng Mỹ chuẩn bị cung cấp mạng 5G tốc độ gấp 500 lần 3G</a>
                        <em>2015-09-09 05:58:13</em>
                        Nhà mạng Verizon đã chuẩn bị sẵn sàng để tung ra công nghệ mạng không dây 5G, đây sẽ là một bước tiến rất lớn so với công nghệ 4G hiện nay. Theo dự kiến bắt đầu từ năm 2017, người dùng mạng di động tại Mỹ sẽ được trải nghiệm 
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 padi015">
                <div class="tinhome">
                    <a class="pic" href="#">
                        <img src="images/p6.jpg" alt="" />
                    </a>
                    <p class="tit">
                        <a href="{$entriesItem->getUrl($lang)}">Nhà mạng Mỹ chuẩn bị cung cấp mạng 5G tốc độ gấp 500 lần 3G</a>
                        <em>2015-09-09 05:58:13</em>
                        Nhà mạng Verizon đã chuẩn bị sẵn sàng để tung ra công nghệ mạng không dây 5G, đây sẽ là một bước tiến rất lớn so với công nghệ 4G hiện nay. Theo dự kiến bắt đầu từ năm 2017, người dùng mạng di động tại Mỹ sẽ được trải nghiệm 
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 padi015">
                <div class="tinhome">
                    <a class="pic" href="#">
                        <img src="images/p6.jpg" alt="" />
                    </a>
                    <p class="tit">
                        <a href="{$entriesItem->getUrl($lang)}">Nhà mạng Mỹ chuẩn bị cung cấp mạng 5G tốc độ gấp 500 lần 3G</a>
                        <em>2015-09-09 05:58:13</em>
                        Nhà mạng Verizon đã chuẩn bị sẵn sàng để tung ra công nghệ mạng không dây 5G, đây sẽ là một bước tiến rất lớn so với công nghệ 4G hiện nay. Theo dự kiến bắt đầu từ năm 2017, người dùng mạng di động tại Mỹ sẽ được trải nghiệm 
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 padi015">
                <div class="tinhome">
                    <a class="pic" href="#">
                        <img src="images/p6.jpg" alt="" />
                    </a>
                    <p class="tit">
                        <a href="{$entriesItem->getUrl($lang)}">Nhà mạng Mỹ chuẩn bị cung cấp mạng 5G tốc độ gấp 500 lần 3G</a>
                        <em>2015-09-09 05:58:13</em>
                        Nhà mạng Verizon đã chuẩn bị sẵn sàng để tung ra công nghệ mạng không dây 5G, đây sẽ là một bước tiến rất lớn so với công nghệ 4G hiện nay. Theo dự kiến bắt đầu từ năm 2017, người dùng mạng di động tại Mỹ sẽ được trải nghiệm 
                    </p>
                </div>
            </div>
            <div class="col-md-12 padi05">
                <div class="ttshop">
                    <div class="addshop">
                        <a href="#"><img src="images/logo.png" alt="" /></a>
                        <p>Địa chỉ: Trụ sở chính xã Đông Các, Đông Hưng, Thái Bình</p>
                        <p>Hotline: 0961824566</p>
                        <p>Email: matkinhsieure1@gmail.com</p>
                    </div>
                    <div class="htshop">
                        <p>Chăm sóc khách hàng</p>
                        <span>Zalo: <a class="a1" href="#">0961 824 566</a></span>
                        <span>Facebook: <a class="a2" href="#">facebook.com/matkinhdienbienphu</a></span>
                        <span>Website: <a class="a3" href="#">matkinhdienbienphu.vn</a></span>
                    </div>
                    <div class="htshop">
                        <p>Fanpage</p>
                        <div class="fb-page" data-href="https://www.facebook.com/matkinhdienbienphu.vn/?fref=ts" data-tabs="timeline" data-width="260" data-height="170" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/matkinhdienbienphu.vn/?fref=ts" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/matkinhdienbienphu.vn/?fref=ts">Mắt kính Điện Biên Phủ</a></blockquote></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mainfooter">
    <div class="container-xxx">
        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-12 padi05">
                <div class="hit"><img src="images/hit.jpg" alt="" /></div>
            </div>
            <div class="col-md-9 col-sm-8 col-xs-12 padi05">
                <div class="copy"><p>Copyright © 2016 matkinhdienbienphu.vn - Thiết kế web:AVA.vn</p></div>
            </div>
        </div>
    </div>
</div>





<!-- Script
================================================== -->
<script src="js/danhmuc-menu-jquery.js"></script>

<script src="js/jquery-1.9.1.min.js"></script>
<script src="js/owl.carousel.js"></script>

<!--<script src="js/jquery.min.js"></script>-->
<script src="js/bootstrap.min.js"></script>
<script src="js/holder.min.js"></script>
<script src="js/ie10-viewport-bug-workaround.js"></script>

<!--Banner-->
<!--
<script type="text/javascript" src="js/responsiveslides.min.js"></script>
<script>
$(function () {
    $("#slider4").responsiveSlides({
    auto: true,
    pager: false,
    nav: true,
    speed: 500,
    namespace: "callbacks",
    before: function () {
    $('.events').append("<li>before event fired.</li>");
    },
    after: function () {
    $('.events').append("<li>after event fired.</li>");
    }
    });
});
</script>-->
<!--End-->


<script type="text/javascript" src="js/jquery.flexisel.js"></script>
<script type="text/javascript">
$(window).load(function() {
    $("#flexiselDemo1").flexisel();
    $("#flexiselDemo2").flexisel({
        enableResponsiveBreakpoints: true,
        responsiveBreakpoints: { 
            portrait: { 
                changePoint:480,
                visibleItems: 2
            }, 
            landscape: { 
                changePoint:640,
                visibleItems: 2
            },
            tablet: { 
                changePoint:768,
                visibleItems: 3
            }
        }
    });
    $("#flexiselDemo4").flexisel({
        clone:false
    });
});
</script>


<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.8";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<link href="css/owl.carousel.css" rel="stylesheet">
<link href="css/owl.theme.css" rel="stylesheet">
<style>
    #owl-demo .item img { display: block; width: 100%; height: auto;}
    .owl-buttons { display: none;}
</style>
<script>
    $(document).ready(function() {
        $("#owl-demo").owlCarousel({
            navigation : true, // Show next and prev buttons
            autoPlay : 5000,
            slideSpeed : 300,
            paginationSpeed : 400,
            singleItem:true
            // "singleItem:true" is a shortcut for:
            // items : 1, 
            // itemsDesktop : false,
            // itemsDesktopSmall : false,
            // itemsTablet: false,
            // itemsMobile : false
        });
    });
</script>



</body>
</html>
