<header role="banner">
    <button type="button" class="drawer-toggle drawer-hamburger">
        <span class="sr-only">toggle navigation</span>
        <span class="drawer-hamburger-icon"></span>
    </button>
    <nav class="drawer-nav" role="navigation">
        <div class="productMenu">
            <ul class="cap1">
                <li class="level1{if $op eq 'manage'} open{/if}">
                    <a href="javascript:void(0);" title="{$amessages.manage}"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;&nbsp;{$amessages.manage}</a>
                    <ul class="cap2">
                        {if $authUser->isFounder()}
                        <li class="level2{if $part eq 'staticPage'} open{/if}">
                            <a href="javascript:void(0);" title="{$amessages.static_page}" class="submenu"><i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;{$amessages.static_page}</a>
                            <ul class="cap3">
                                <li>
                                    <a{if $part eq 'staticPage' && $act eq 'add'} class="current3"{/if} href="{$script}?op=manage&amp;part=staticPage&amp;act=add" title="{$amessages.add_static_page}"><i class="fa fa-plus-square" aria-hidden="true"></i>&nbsp;&nbsp;{$amessages.add_static_page}</a>
                                </li>
                                <li>
                                    <a{if $part eq 'staticPage' && $act eq 'list'} class="current3"{/if} href="{$script}?op=manage&amp;part=staticPage&amp;act=list" title="{$amessages.list_static_page}"><i class="fa fa-list-alt" aria-hidden="true"></i>&nbsp;&nbsp;{$amessages.list_static_page}</a>
                                </li>
                            </ul>
                        </li>
                        <!--menu-->
                        <!--<li class="level2"><a href="javascript:void(0);" title="{$amessages.menu}" class="submenu">{$amessages.menu}</a>
                        <ul>
                        <li><a{if $part eq 'menu' && $act eq 'add'} class="current3"{/if} href="{$script}?op=manage&amp;part=menu&amp;act=addGroup" title="{$amessages.add_group_menu}">{$amessages.add_group_menu}</a></li>
                        <li><a{if $part eq 'menu' && $act eq 'list'} class="current3"{/if} href="{$script}?op=manage&amp;part=menu&amp;act=listGroup" title="{$amessages.list_group_menu}">{$amessages.list_group_menu}</a></li>
                        <li><a{if $part eq 'menu' && $act eq 'add'} class="current3"{/if} href="{$script}?op=manage&amp;part=menu&amp;act=add" title="{$amessages.add_menu}">{$amessages.add_menu}</a></li>
                        <li><a{if $part eq 'menu' && $act eq 'list'} class="current3"{/if} href="{$script}?op=manage&amp;part=menu&amp;act=list" title="{$amessages.list_menu}">{$amessages.list_menu}</a></li>
                        <li><a href="{$script}?op=manage&amp;part=menu&amp;act=list&amp;plus=cleanTrash" title="{$amessages.clean_trash}">{$amessages.clean_trash}</a></li>
                        </ul>
                        </li>-->
                        <!--end menu-->
                        <!-- quản ly banner-->
                        <li class="level2{if $part eq 'category'} open{/if}">
                            <a href="javascript:void(0);" title="{$amessages.category}" class="submenu"><i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;{$amessages.category}</a>
                            <ul class="cap3">
                                <li>
                                    <a{if $part eq 'category' && $act eq 'add'} class="current3"{/if} href="{$script}?op=manage&amp;part=category&amp;act=add" title="{$amessages.add_category}"><i class="fa fa-plus-square" aria-hidden="true"></i>&nbsp;&nbsp;{$amessages.add_category}</a>
                                </li>
                                <li>
                                    <a{if $part eq 'category' && $act eq 'list'} class="current3"{/if} href="{$script}?op=manage&amp;part=category&amp;act=list" title="{$amessages.list_category}"><i class="fa fa-list-alt" aria-hidden="true"></i>&nbsp;&nbsp;{$amessages.list_category}</a>
                                </li>
                            </ul>
                        </li>
                        <li class="level2{if $part eq 'entry'} open{/if}">
                            <a href="javascript:void(0);" title="{$amessages.entry}" class="submenu"><i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;{$amessages.entry}</a>
                            <ul class="cap3">
                                <li>
                                    <a{if $part eq 'entry' && $act eq 'add'} class="current3"{/if} href="{$script}?op=manage&amp;part=entry&amp;act=add" title="{$amessages.add_entry}"><i class="fa fa-plus-square" aria-hidden="true"></i>&nbsp;&nbsp;{$amessages.add_entry}</a>
                                </li>
                                <li>
                                    <a{if $part eq 'entry' && $act eq 'list'} class="current3"{/if} href="{$script}?op=manage&amp;part=entry&amp;act=list" title="{$amessages.list_entry}"><i class="fa fa-list-alt" aria-hidden="true"></i>&nbsp;&nbsp;{$amessages.list_entry}</a>
                                </li>
                            </ul>
                        </li>
                        {/if}
                        {if $authUser->isFounder() || $authUser->isStaff()}
                        <li class="level2{if $part eq 'productcategory'} open{/if}">
                            <a href="javascript:void(0);" title="{$amessages.productcategory}" class="submenu"><i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;{$amessages.productcategory}</a>
                            <ul class="cap3">
                                <li>
                                    <a{if $part eq 'productcategory' && $act eq 'add'} class="current3"{/if} href="{$script}?op=manage&amp;part=productcategory&amp;act=add" title="{$amessages.add_productcategory}"><i class="fa fa-plus-square" aria-hidden="true"></i>&nbsp;&nbsp;{$amessages.add_productcategory}</a>
                                </li>
                                <li>
                                    <a{if $part eq 'productcategory' && $act eq 'list'} class="current3"{/if} href="{$script}?op=manage&amp;part=productcategory&amp;act=list" title="{$amessages.list_productcategory}"><i class="fa fa-list-alt" aria-hidden="true"></i>&nbsp;&nbsp;{$amessages.list_productcategory}</a>
                                </li>
                            </ul>
                        </li>
                        <li class="level2{if $part eq 'product'} open{/if}">
                            <a href="javascript:void(0);" title="{$amessages.product}" class="submenu"><i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;{$amessages.product}</a>
                            <ul class="cap3">
                                <li>
                                    <a{if $part eq 'product' && $act eq 'add'} class="current3"{/if} href="{$script}?op=manage&amp;part=product&amp;act=add" title="{$amessages.add_product}"><i class="fa fa-plus-square" aria-hidden="true"></i>&nbsp;&nbsp;{$amessages.add_product}</a>
                                </li>
                                <li>
                                    <a{if $part eq 'product' && $act eq 'list'} class="current3"{/if} href="{$script}?op=manage&amp;part=product&amp;act=list" title="{$amessages.list_product}"><i class="fa fa-list-alt" aria-hidden="true"></i>&nbsp;&nbsp;{$amessages.list_product}</a>
                                </li>
                            </ul>
                        </li>
                        <li class="level2{if $part eq 'ads' || $part eq 'ads_home'} open{/if}">
                            <a href="javascript:void(0);" title="{$amessages.ads}" class="submenu"><i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;{$amessages.ads}</a>
                            <ul class="cap3">
                                <!--<li><a{if $part eq 'ads' && $act eq 'addGroup'} class="current3"{/if} href="{$script}?op=manage&amp;part=ads&amp;act=addGroup" title="{$amessages.add_ads_group}">{$amessages.add_ads_group}</a></li>
                                <li><a{if $part eq 'ads' && $act eq 'listGroup'} class="current3"{/if} href="{$script}?op=manage&amp;part=ads&amp;act=listGroup" title="{$amessages.list_ads_group}">{$amessages.list_ads_group}</a></li>
                                <li><a{if $part eq 'ads_home' && $act eq 'add'} class="current3"{/if} href="{$script}?op=manage&amp;part=ads_home&amp;act=add" title="{$amessages.add_ads}">{$amessages.add_ads_home}</a></li>
                                <li><a{if $part eq 'ads_home' && $act eq 'list'} class="current3"{/if} href="{$script}?op=manage&amp;part=ads_home&amp;act=list" title="{$amessages.list_ads}">{$amessages.list_ads_home}</a></li>-->
                                <li>
                                    <a{if $part eq 'ads' && $act eq 'add'} class="current3"{/if} href="{$script}?op=manage&amp;part=ads&amp;act=add" title="{$amessages.add_ads}"><i class="fa fa-plus-square" aria-hidden="true"></i>&nbsp;&nbsp;{$amessages.add_ads}</a>
                                </li>
                                <li>
                                    <a{if $part eq 'ads' && $act eq 'list'} class="current3"{/if} href="{$script}?op=manage&amp;part=ads&amp;act=list" title="{$amessages.list_ads}"><i class="fa fa-list-alt" aria-hidden="true"></i>&nbsp;&nbsp;{$amessages.list_ads}</a>
                                </li>
                            </ul>
                        </li>
                        {/if}
                        {if $authUser->isFounder()}
                        <li style="display:none" class="level2{if $part eq 'tamgia'} open{/if}">
                            <a href="javascript:void(0);" title="Tầm giá" class="submenu"><i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;Tầm giá</a>
                            <ul>
                                <li><a{if $part eq 'tamgia' && $act eq 'add'} class="current3"{/if} href="{$script}?op=manage&amp;part=tamgia&amp;act=add" title="Thêm">Thêm</a></li>
                                <li><a{if $part eq 'tamgia' && $act eq 'list'} class="current3"{/if} href="{$script}?op=manage&amp;part=tamgia&amp;act=list" title="Danh sách">Danh sách</a></li>
                            </ul>
                        </li>
                        <!--end product-->
                        <!--ORDER-->
                        <li class="level2{if $part eq 'order'} open{/if}" style="">
                            <a href="javascript:void(0);" title="{$amessages.order}" class="submenu"><i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;Quản lý đặt hàng</a>
                            <ul class="cap3">
                                <li>
                                    <a{if $part eq 'order' && $act eq 'list'} class="current3"{/if} href="{$script}?op=manage&amp;part=order&amp;act=list" title="Danh sách đặt hàng"><i class="fa fa-list-alt" aria-hidden="true"></i>&nbsp;&nbsp;Danh sách đặt hàng</a>
                                </li>
                            </ul>
                        </li>
                        <!--ORDER-->
                        <!--Dat ban-->
                        <li class="level2{if $part eq 'book'} open{/if}" style="">
                            <a href="javascript:void(0);" title="{$amessages.book}" class="submenu"><i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;Quản lý đặt bàn</a>
                            <ul class="cap3">
                                <li>
                                    <a{if $part eq 'book' && $act eq 'list'} class="current3"{/if} href="{$script}?op=manage&amp;part=book&amp;act=list" title="Danh sách đặt bàn"><i class="fa fa-list-alt" aria-hidden="true"></i>&nbsp;&nbsp;Danh sách đặt bàn</a>
                                </li>
                                <li>
                                    <a{if $part eq 'book' && $act eq 'add'} class="current3"{/if} href="{$script}?op=manage&amp;part=book&amp;act=add" title="Thêm mới đặt bàn"><i class="fa fa-plus-square" aria-hidden="true"></i>&nbsp;&nbsp;Thêm mới đặt bàn</a>
                                </li>
                            </ul>
                        </li>
                        <!--Dat ban-->
                        <li class="hidden level2{if $part eq 'gallery'} open{/if}" style="display: none;">
                            <a href="javascript:void(0);" title="{$amessages.gallery}" class="submenu">Bảng giá</a>
                            <ul>
                                <li style="display:none"><a{if $part eq 'gallery' && $act eq 'add'} class="current3"{/if} href="{$script}?op=manage&amp;part=gallery&amp;act=add" title="{$amessages.add_album}">{$amessages.add_album}</a></li>
                                <li style="display:none"><a{if $part eq 'gallery' && $act eq 'list'} class="current3"{/if} href="{$script}?op=manage&amp;part=gallery&amp;act=list" title="{$amessages.list_album}">{$amessages.list_album}</a></li>
                                <li style="display:none"><a{if $part eq 'gallery' && $act eq 'upload'} class="current3"{/if} href="{$script}?op=manage&amp;part=gallery&amp;act=upload" title="Thêm file download">Thêm tập tin</a></li>
                                <li><a{if $part eq 'resource' && $act eq 'list'} class="current3"{/if} href="{$script}?op=manage&amp;part=resource&amp;act=list" title="Danh sách file download">Danh sách Bảng giá</a></li>
                            </ul>
                        </li>
                        <!--<li class="level2{if $part eq 'questions'} open{/if}"><a href="javascript:void(0);" title="{$amessages.questions}" class="submenu">{$amessages.questions}</a>
                        <ul>
                        <li><a{if $part eq 'subject' && $act eq 'add'} class="current3"{/if} href="{$script}?op=manage&amp;part=subject&amp;act=add" title="{$amessages.add_subject}">{$amessages.add_subject}</a></li>
                        <li><a{if $part eq 'subject' && $act eq 'list'} class="current3"{/if} href="{$script}?op=manage&amp;part=subject&amp;act=list" title="{$amessages.list_subject}">{$amessages.list_subject}</a></li>
                        <li><a{if $part eq 'questions' && $act eq 'add'} class="current3"{/if} href="{$script}?op=manage&amp;part=questions&amp;act=add" title="{$amessages.add_questions}">{$amessages.add_questions}</a></li>
                        <li><a{if $part eq 'questions' && $act eq 'list'} class="current3"{/if} href="{$script}?op=manage&amp;part=questions&amp;act=list" title="{$amessages.list_questions}">{$amessages.list_questions}</a></li>
                        <li><a href="{$script}?op=manage&amp;part=questions&amp;act=list&amp;plus=cleanTrash" title="{$amessages.clean_trash}">{$amessages.clean_trash}</a></li>
                        </ul>
                        </li>-->
                        <!--<li class="level2{if $part eq 'ads'} open{/if}"><a href="javascript:void(0);" title="{$amessages.ads}" class="submenu">Quản lý hình ảnh</a>
                        <ul>
                        <li><a {if $part eq 'ads' && $act eq 'list' && $gid eq '2'} class="current3"{/if} href="{$script}?op=manage&amp;part=ads&amp;act=list&gid=2" title="Quản lý Popup">Quản lý Popup</a></li>
                        <li><a {if $part eq 'ads' && $act eq 'list' && $gid eq '3'} class="current3"{/if} href="{$script}?op=manage&amp;part=ads&amp;act=list&gid=3" title="Quản lý Backgroud">Quản lý Backgroud</a></li>
                        <li><a {if $part eq 'ads' && $act eq 'list' && gid eq '1'} class="current3"{/if} href="{$script}?op=manage&amp;part=ads&amp;act=list&gid=1" title="Quản lý Logo">Quản lý Logo</a></li>
                        </ul>
                        </li>-->
                        <li class="level2{if $part eq 'member'} open{/if}">
                            <a href="javascript:void(0);" title="{$amessages.member}" class="submenu"><i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;{$amessages.member}</a>
                            <ul class="cap3">
                            <li>
                                <a{if $part eq 'member' && $act eq 'add'} class="current3"{/if} href="{$script}?op=manage&amp;part=member&amp;act=add" title="{$amessages.add_member}"><i class="fa fa-plus-square" aria-hidden="true"></i>&nbsp;&nbsp;{$amessages.add_member}</a>
                            </li>
                            <li>
                                <a{if $part eq 'member' && $act eq 'list'} class="current3"{/if} href="{$script}?op=manage&amp;part=member&amp;act=list" title="{$amessages.list_member}"><i class="fa fa-list-alt" aria-hidden="true"></i>&nbsp;&nbsp;{$amessages.list_member}</a>
                            </li>
                            </ul>
                        </li>
                        <!--<li class="level2{if $part eq 'banner'} open{/if}"><a href="javascript:void(0);" title="Quản lý Banner" class="submenu">Tuyển dụng</a>
                        <ul>
                        <li><a{if $part eq 'textbanner' && $act eq 'list'} class="current3"{/if} href="{$script}?op=manage&amp;part=textbanner&amp;act=add" title="Thêm vị trí tuyển dụng">Thêm vị trí tuyển dụng</a></li>
                        <li><a{if $part eq 'textbanner' && $act eq 'list'} class="current3"{/if} href="{$script}?op=manage&amp;part=textbanner&amp;act=list" title="Danh sách vị trí tuyển dụng ">Danh sách vị trí tuyển dụng</a></li>
                        </ul>
                        </li>-->
                        <!--khach hang-->
                        <!--<li class="level2{if $part eq 'banner'} open{/if}"><a href="javascript:void(0);" title="Bảng báo giá" class="submenu">Đối tác</a>
                        <ul>
                        <li><a{if $part eq 'imgbanner' && $act eq 'list'} class="current3"{/if} href="{$script}?op=manage&amp;part=imgbanner&amp;act=add" title="Thêm khách hàng ">Thêm đối tác</a></li>
                        <li><a{if $part eq 'imgbanner' && $act eq 'list'} class="current3"{/if} href="{$script}?op=manage&amp;part=imgbanner&amp;act=list" title="Danh sách khách hàng">Danh sách đối tác</a></li>
                        </ul>
                        </li>-->
                        <!--album product-->
                        <!--<li class="level2{if $part eq 'albumproduct'} open{/if}"><a href="javascript:void(0);" title="{$amessages.productcategory}" class="submenu">{$amessages.albumproduct}</a>
                        <ul>
                        <li><a{if $part eq 'albumproduct' && $act eq 'add'} class="current3"{/if} href="{$script}?op=manage&amp;part=albumproduct&amp;act=add" title="{$amessages.add_albumproduct}">{$amessages.add_albumproduct}</a></li>
                        <li><a{if $part eq 'albumproduct' && $act eq 'list'} class="current3"{/if} href="{$script}?op=manage&amp;part=albumproduct&amp;act=list" title="{$amessages.list_albumproduct}">{$amessages.list_albumproduct}</a></li>
                        <li><a href="{$script}?op=manage&amp;part=albumproduct&amp;act=list&amp;plus=cleanTrash" title="{$amessages.clean_trash}">{$amessages.clean_trash}</a></li>
                        </ul>
                        </li>-->
                        <!--end album product-->
                        <!--images product-->
                        <li style="display:none"  class="level2{if $part eq 'imgproduct'} open{/if}">
                            <a href="javascript:void(0);" title="{$amessages.imgproduct}" class="submenu">{$amessages.imgproduct}</a>
                            <ul>
                                <li><a{if $part eq 'imgproduct' && $act eq 'add'} class="current3"{/if} href="{$script}?op=manage&amp;part=imgproduct&amp;act=add" title="{$amessages.add_imgproduct}">{$amessages.add_imgproduct}</a></li>
                                <li><a{if $part eq 'imgproduct' && $act eq 'list'} class="current3"{/if} href="{$script}?op=manage&amp;part=imgproduct&amp;act=list" title="{$amessages.list_imgproduct}">{$amessages.list_imgproduct}</a></li>
                                <li><a href="{$script}?op=manage&amp;part=imgproduct&amp;act=list&amp;plus=cleanTrash" title="{$amessages.clean_trash}">{$amessages.clean_trash}</a></li>
                            </ul>
                        </li>
                        <!--end album product-->
                        <li class="hidden level2{if $part eq 'support'} open{/if}" style="display: none;">
                            <a href="javascript:void(0);" title="{$amessages.support}" class="submenu">{$amessages.support} trực tuyến</a>
                            <ul>
                                <!--<li><a{if $part eq 'group_support' && $act eq 'add'} class="current3"{/if} href="{$script}?op=manage&amp;part=group_support&amp;act=add" title="{$amessages.add_group_support}">{$amessages.add_group_support}</a></li>
                                <li><a{if $part eq 'group_support' && $act eq 'list'} class="current3"{/if} href="{$script}?op=manage&amp;part=group_support&amp;act=list" title="{$amessages.list_group_support}">{$amessages.list_group_support}</a></li> -->
                                <li><a{if $part eq 'support' && $act eq 'add'} class="current3"{/if} href="{$script}?op=manage&amp;part=support&amp;act=add" title="{$amessages.add_support}">{$amessages.add_support}</a></li>
                                <li><a{if $part eq 'support' && $act eq 'list'} class="current3"{/if} href="{$script}?op=manage&amp;part=support&amp;act=list" title="{$amessages.list_support}">{$amessages.list_support}</a></li>
                            </ul>
                        </li>
                        <!-- END SUPPORT -->
                        <!--<li class="level2{if $part eq 'weblinks'} open{/if}"><a href="javascript:void(0);" title="{$amessages.weblinks}" class="submenu">{$amessages.weblinks}</a>
                        <ul>
                        <li><a{if $part eq 'weblinks' && $act eq 'add'} class="current3"{/if} href="{$script}?op=manage&amp;part=weblinks&amp;act=add" title="{$amessages.add_weblinks}">{$amessages.add_weblinks}</a></li>
                        <li><a{if $part eq 'weblinks' && $act eq 'list'} class="current3"{/if} href="{$script}?op=manage&amp;part=weblinks&amp;act=list" title="{$amessages.list_weblinks}">{$amessages.list_weblinks}</a></li>
                        </ul>
                        </li>-->
                        <!--quan ly email-->
                        <!--<li class="level2{if $part eq 'customers'} open{/if}"><a href="javascript:void(0);" title="{$amessages.customers}" class="submenu">Quản lý email</a>
                        <ul>
                        <li><a{if $part eq 'email' && $act eq 'send'} class="current3"{/if} href="{$script}?op=manage&amp;part=email&amp;act=send" title="{$amessages.send_email}">{$amessages.send_email}</a></a></li>
                        <li><a{if $part eq 'customer' && $act eq 'list'} class="current3"{/if} href="{$script}?op=manage&amp;part=customer&amp;act=list" title="Danh sách email">Danh sách email</a></li>
                        <li><a{if $part eq 'mail' && $act eq 'list'} class="current3"{/if} href="{$script}?op=manage&amp;part=mail&amp;act=list" title="Email templates">Email templates</a></li>
                        </ul>
                        </li>-->
                        <!--end quan ly email-->
                        {/if}
                    </ul>
                </li>
                <li class="level1">
                    <a href="javascript:void(0);" title="{$amessages.system}"><i class="fa fa-sun-o" aria-hidden="true"></i>&nbsp;&nbsp;{$amessages.system}</a>
                    <ul class="cap2">
                        <li class="level2{if $part eq 'password'} open{/if}">
                            <a href="{$script}?op=system&amp;part=password&amp;act=change" title="{$amessages.change_password}"><i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;{$amessages.change_password}</a>
                        </li>
                    </ul>
                </li>
                {if $authUser->isFounder()}
                <li class=" level1{if $op eq 'admin'} open{/if}">
                    <a href="javascript:void(0);" title="{$amessages.administration}"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;{$amessages.administration}</a>
                    <ul class="cap2">
                        <li class="hidden level2"><a href="{$script}?op=admin&amp;part=user&amp;act=list" title="{$amessages.list_user}"><i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;{$amessages.list_user}</a></li>
                        <li class="level2"><a href="{$script}?op=admin&amp;part=generalConfig&amp;act=update" title="{$amessages.general_config}"><i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;{$amessages.general_config}</a></li>
                    </ul>
                </li>
                {/if}
                <li class="level1"><a href="{$script}?op=logout" title="{$amessages.logout}"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;&nbsp;{$amessages.logout}</a></li>
            </ul>
        </div>
    </nav>
</header>
<main role="main">
    <div class="header_admin">
        <div class="logo"><img src="templates/{$usertemplate}/images/logo.png" alt="" /></div>
        <div class="add_header">
            <h5>Công ty tnhh tin học <font style="color: #f6a71b;">AN</font> <font style="color: #6bbe46;">VẠN</font> <font style="color: #289cd7;">AN</font></h5>
            <p><span><i class="fa fa-map-marker" aria-hidden="true"></i></span> 115 Đường số 2, Cư xá Đài Ra Đa Phú Lâm, Phường 13, Quận 6, TP.HCM - <span><i class="fa fa-phone-square" aria-hidden="true"></i></span> (028) 62 81 82 83 - (028) 62 911 911 - <span><i class="fa fa-mobile" aria-hidden="true"></i></span> 0773 911 911 - <span><i class="fa fa-envelope" aria-hidden="true"></i></span> ava@ava.vn - <span><i class="fa fa-globe" aria-hidden="true"></i></span> www.ava.vn - www.thietkewebsite.net.vn</p>
        </div>
        <div class="admin_user" style="width: 47px; height: 47px; float: right; margin: 10px 15px 0 0; border:1px solid #ddd; border-radius: 5px; background: white;">
            <i style="width: 100%; float: left; display: block; text-align: center; font-size: 28px; color: green;" class="fa fa-user" aria-hidden="true"></i>
            <p style="width: 100%; float: left; display: block; text-align: center; overflow: hidden; text-transform: uppercase; font-size: 12px; margin-top:2px;">{if $authUser}{$authUser->getUserName()}{else}Guest{/if}</p>
        </div>
    </div>
    <div class="out_header_admin"></div>
</main>