{include file="$usertemplate/header.temp.html"}
{include file="$usertemplate/left.temp.html" title=left}
{assign var=formId value='listItems'}
{assign var=rightPanel value='hidden'}
<div class="contentabc">
    <div id="contextual" class="{$rightPanel}">
        <div class="levBtn">
            <p><a href="#"><img src="templates/{$usertemplate}/images/btn_arrow_02.gif" alt="" width="18" height="19" /></a></p>
        </div>
        <div class="contextType">
            <form action="{$script}" method="post" name="form2">
                <fieldset>
                    <p>
                        <label for="textbox">Textbox</label>
                        <input type="text" value="" name="textbox" id="textbox" />
                    </p>
                    <p>
                        <label for="textarea">Textarea</label>
                        <textarea name="textarea" id="textarea" rows="5" cols="5"></textarea>
                    </p>
                    <p>
                        <label for="combobox">Combobox</label>
                        <select name="combobox" id="combobox" >
                            <option selected="selected" value="">------------</option>
                        </select>
                    </p>
                    <p class="radioType">
                        <input type="radio" name="radio" id="radio" />
                        <label for="radio">radio 1</label>
                        <input type="radio" name="radio" id="radio2" />
                        <label for="radio2">radio 2</label>
                    </p>
                    <p class="radioType">
                        <input type="checkbox" name="checkbox" id="checkbox" />
                        <label for="checkbox">checkbox 1</label>
                    </p>
                </fieldset>
            </form>
        </div>
    </div>
    <div id="content">
        <div class="highlight">
            <h2><a href="">{$amessages.control_panel}</a> &raquo; {$amessages.list_member}</h2>
            <ul id="tablist">
                <li><a href="{$script}?op=manage&amp;part=member&amp;act=add&amp;uId={$uId}" title="{$amessages.add_member}">{$amessages.add_member}</a> </li>
                <li class="current"><a href="{$script}?op=manage&part=member&act=list" title="{$amessages.list_member}">{$amessages.list_member}</a> </li>
                <li><a href="{$script}?op=manage&part=member&act=list&plus=cleanTrash" title="{$amessages.clean_trash}">{$amessages.clean_trash}</a> </li>
            </ul>
            <div class="searchType">
                <form action="{$script}" method="post" name="searchMenu" id="searchMenu">
                    <p>
                        <span>{$amessages.keyword}</span>
                        <input type="text" value="{$searchTerms}" name="searchTerms" />
                    </p>
                    <p>
                        <span>{$amessages.status}</span>
                        <select name="searchStatus">
                            {$listStatus}
                        </select>
                    </p>
                    <p>
                        <input type="hidden" name="op" value="{$op}" />
                        <input type="hidden" name="part" value="{$part}" />
                        <input type="hidden" name="act" value="{$act}" />
                        <input type="submit" value="{$amessages.display}" title="{$amessages.display}" name="btnDisplay" class="btnDisplay" />
                    </p>
                </form>
            </div>
            {if $infoText}
            <div class="{$infoClass}">
                <h4>Result:</h4>
                <p>{$infoText}</p>
            </div>
            {/if}
            <form id="{$formId}" name="{$formId}" action="{$script}" method="post">
                <div class="tableContent">
                    <table width="100%" border="1" cellspacing="1" cellpadding="5">
                        <thead>
                        <tr>
                            <th class="first_bx"><input class="box3" type="checkbox" name="all" id="all" value="1" onclick="toggleAllChecks('{$formId}');" /></th>
                            <th class="first_no">{$amessages.no}</th>
                            <th class="first_id"><a href="{$script}?op=manage&amp;part=member&amp;act=list&amp;searchTerms={$searchTerms}&amp;searchStatus={$searchStatus}&amp;orderBy=id&amp;orderDir={if $orderBy eq 'id' && $orderDir eq 'ASC'}DESC{else}ASC{/if}" title="{$amessages.click_here_to_sort_by} {$amessages.id}">{$amessages.id}{if $orderBy eq 'id'}&nbsp;<img src="templates/{$usertemplate}/images/ico_{if $orderDir eq 'DESC'}down{else}up{/if}.gif" alt="" width="12" height="12" />{/if}</a></th>
                            <th><a href="{$script}?op=manage&amp;part=member&amp;act=list&amp;searchTerms={$searchTerms}&amp;searchStatus={$searchStatus}&amp;orderBy=username&amp;orderDir={if $orderBy eq 'username' && $orderDir eq 'ASC'}DESC{else}ASC{/if}" title="{$amessages.click_here_to_sort_by} {$amessages.username}">{$amessages.username}{if $orderBy eq 'username'}&nbsp;<img src="templates/{$usertemplate}/images/ico_{if $orderDir eq 'DESC'}down{else}up{/if}.gif" alt="" width="12" height="12" />{/if}</a></th>
                            <th><a href="{$script}?op=manage&amp;part=member&amp;act=list&amp;searchTerms={$searchTerms}&amp;searchStatus={$searchStatus}&amp;orderBy=fname&amp;orderDir={if $orderBy eq 'fname' && $orderDir eq 'ASC'}DESC{else}ASC{/if}" title="{$amessages.click_here_to_sort_by} Họ tên">Họ tên{if $orderBy eq 'fname'}&nbsp;<img src="templates/{$usertemplate}/images/ico_{if $orderDir eq 'DESC'}down{else}up{/if}.gif" alt="" width="12" height="12" />{/if}</a></th>
                            <th>{$amessages.email}</th>
                            <th>{$amessages.address}</th>
                            <th><a href="{$script}?op=manage&amp;part=member&amp;act=list&amp;searchTerms={$searchTerms}&amp;searchStatus={$searchStatus}&amp;orderBy=status&amp;orderDir={if $orderBy eq 'status' && $orderDir eq 'ASC'}DESC{else}ASC{/if}" title="{$amessages.click_here_to_sort_by} {$amessages.status}">{$amessages.status}{if $orderBy eq 'status'}&nbsp;<img src="templates/{$usertemplate}/images/ico_{if $orderDir eq 'DESC'}down{else}up{/if}.gif" alt="" width="12" height="12" />{/if}</a></th>
                            <th class="first_hd">{$amessages.actions}</th>
                        </tr>
                        </thead>

                        <tbody>
                        {if $listObjects}
                        {assign var=i value=$start}
                        {foreach from=$listObjects item=object}
                        {assign var=i value=$i+1}
                        <tr{if $i%2 == 0} class="bgType"{/if}>
                        <td class="first_bx"><input class="box3" type="checkbox" name="oIds[]" id="oIds" value="{$object->getId()}" /></td>
                        <td class="first_no">{$i|number_format}</td>
                        <td class="first_id">{$object->getId()}</td>
                        <td>{$object->getUsername()}</td>
                        <td>{$object->getFullname()}</td>
                        <td>{$object->getEmail()}</td>
                        <td>{$object->getAddress()}</td>
                        <td>{if $object->isDeleted()}<span style="color: #FF0000">{$object->getStatusText()}</span>{else}{$object->getStatusText()}{/if}</td>
                        <td class="first_hd">
                            <a href="{$script}?op=manage&amp;part=member&amp;act=edit&amp;uId={$object->getId()}&amp;searchTerms={$searchTerms}&amp;searchStatus={$object->getStatus()}&amp;serachPhai={$object->getPhai()}&amp;orderBy={$orderBy}&amp;orderDir={$orderDir}&amp;oId={$object->getId()}&amp;page={$page}" title="{$amessages.edit}">
                                <i class="fa fa-wrench" aria-hidden="true"></i>
                            </a>
                            {if $object->isEnabled()}
                            <a href="{$script}?op=manage&amp;part=member&amp;act=list&amp;uId={$object->getId()}&amp;searchTerms={$searchTerms}&amp;searchStatus={$searchStatus}&amp;orderBy={$orderBy}&amp;orderDir={$orderDir}&amp;plus=disableItem&amp;oId={$object->getId()}&amp;page={$page}" title="{$amessages.disable}">
                                <i class="fa fa-minus" aria-hidden="true"></i>
                            </a>
                            {else}
                            <a href="{$script}?op=manage&amp;part=member&amp;act=list&amp;uId={$object->getId()}&amp;searchTerms={$searchTerms}&amp;searchStatus={$searchStatus}&amp;orderBy={$orderBy}&amp;orderDir={$orderDir}&amp;plus=activateItem&amp;oId={$object->getId()}&amp;page={$page}" title="{$amessages.activate}">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </a>
                            {/if}
                            <a href="{$script}?op=manage&amp;part=member&amp;act=list&amp;uId={$object->getId()}&amp;searchTerms={$searchTerms}&amp;searchStatus={$searchStatus}&amp;orderBy={$orderBy}&amp;orderDir={$orderDir}&amp;plus=deleteItem&amp;oId={$object->getId()}&amp;page={$page}" title="{$amessages.delete}">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </td>
                        </tr>
                        {/foreach}
                        {/if}
                        </tbody>
                    </table>
                    <div class="paging">
                        <p class="btnType">
                            <input type="hidden" name="op" value="{$op}" />
                            <input type="hidden" name="part" value="{$part}" />
                            <input type="hidden" name="act" value="{$act}" />
                            <input type="hidden" name="searchTerms" value="{$searchTerms}"/>
                            <input type="hidden" name="searchStatus" value="{$searchStatus}"/>
                            <input type="hidden" name="searchmemberGroup" value="{$searchmemberGroup}"/>
                            <input type="hidden" name="orderBy" value="{$orderBy}"/>
                            <input type="hidden" name="orderDir" value="{$orderDir}"/>
                            <input type="hidden" name="page" value="{$page}"/>
                            <input type="hidden" name="uId" value="{$uId}"/>
                            <input type="hidden" name="oId" value=""/>
                            <input type="hidden" name="position" value=""/>
                            <input type="hidden" name="plus" id="plus" value=""/>
                            <span><input class="active" type="submit" value="{$amessages.activate}" title="{$amessages.activate}" name="btnActivate" onClick="javascript:actionSubmit('{$formId}','activateItems');" /></span>
                            <span><input class="vohieu" type="submit" value="{$amessages.disable}" title="{$amessages.disable}" name="btnDisable" onClick="javascript:actionSubmit('{$formId}','disableItems');" /></span>
                            <span><input class="xoa" type="submit" value="{$amessages.delete}" title="{$amessages.delete}" name="btnDelete" onClick="javascript:actionSubmit('{$formId}','deleteItems');" /></span>
                        </p>
                        <ul>
                            <li>{$amessages.page}</li>
                            {$adminPager}
                            <li>{$amessages.total} {$rows|number_format} {$amessages.records}, {$pages|number_format} {$amessages.pages}</li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="push"></div>
</div>
</div>
{include file="$usertemplate/footer.temp.html" title=footer}