{include file="$usertemplate/header.temp.html"}
{include file="$usertemplate/left.temp.html" title=left}
<div class="contentabc">
	{assign var=formId value='addItem'}
	{assign var=rightPanel value='hidden'}
	<div id="contextual" class="{$rightPanel}">
		<div class="levBtn">
			<p><a href="#"><img src="templates/{$usertemplate}/images/btn_arrow_02.gif" alt="" width="18" height="19" /></a></p>
		</div>
		<div class="contextType"></div>
	</div>
	<div id="content">
		<div class="highlight">
			<h2><a href="">{$amessages.control_panel}</a>{$amessages.edit_ads}</h2>
			<ul id="tablist">
				<li class="current"><a href="{$script}?op=manage&amp;part=ads&amp;act=edit&amp;pId={$pId}" title="{$amessages.edit_ads}">{$amessages.edit_ads}</a> </li>
				<li><a href="{$script}?op=manage&part=ads&act=list" title="{$amessages.list_ads}">{$amessages.list_ads}</a> </li>
				<li><a href="{$script}?op=manage&part=ads&act=list&plus=cleanTrash" title="{$amessages.clean_trash}">{$amessages.clean_trash}</a> </li>
			</ul>
			{if $infoText}
			<div class="{$infoClass}">
				<h4>Result:</h4>
				<p>{$infoText}</p>
			</div>
			{/if}
			<div class="formType style02 styava">
				<form action="{$script}" method="post" id="{$formId}" name="{$formId}" enctype="multipart/form-data">
					<fieldset>
						<p>
							<label for="status">{$amessages.status} *</label>
							<span>{$amessages.status_help}</span>
							<select name="status">
								{$listStatus}
							</select>
						</p>
						<p>
							<label for="gId">{$amessages.group_ads} *</label>
							<span>{$amessages.parent_help}</span>
							<select name="gId">
								<option value="-1">All</option>
								{$listGroupads}
							</select>
						</p>
						<p>
							<label for="vn_name">Upload Banner *</label>
							<span>{$amessages.uploadbaner_help}</span>
							<table width="100%" cellpadding="0" border="0" >
								<tr>
									<td><img src="{$ROOTPATH}/gallery/avatar_upload/ads/avatar/{$listObject->getLogoUrl()}" title="{$listObject->getLogoUrl()}" height="100" alt="{$listObject->getLogoUrl()}" /></td>
								</tr>
							</table>
							<input type="file" name="logo_url" value="{$logo_url}" />
							<input type="hidden" name="logo" value="{$listObject->getLogoUrl()}" />
						</p>
						
						<p>
							<label for="vn_name">Upload Banner Tieng Anh *</label>
							<span>{$amessages.uploadbaner_help}</span>
							<table width="100%" cellpadding="0" border="0" >
								<tr>
									<td><img src="{$ROOTPATH}/gallery/avatar_upload/ads/avatar/{$listObject->getName('en')}" title="{$listObject->getName('en')}" height="100" alt="{$listObject->getName('en')}" /></td>
								</tr>
							</table>
							<input type="file" name="en_name" value="{$en_name}" />
							<input type="hidden" name="logo_en" value="{$listObject->getName('en')}" />
						</p>
						
						<p>
							<label for="vn_name">{$amessages.vn_name} </label>
							<input type="text" name="vn_name" value="{$listObject->getName('vn')}" />
						</p>
				
						<p>
							<label for="url">Link</label>
							<!--<textarea name="url" rows="5">{$listObject->getUrl()}</textarea>-->
							<input type="text" name="url" value="{$listObject->getUrl()}" />
						</p>
						<p>
							<label for="vn_name">{$amessages.position} </label>
							<input type="text" name="position" value="{$listObject->getPosition()}" />
						</p>
						<!--<p class="radioType">
							<input type="radio" name="radio3" id="radio3" />
							<label for="radio3">radio 3</label>
							<input type="radio" name="radio3" id="radio4" />
							<label for="radio4">radio 4</label>
						</p>
						<p class="radioType">
							<input type="checkbox" name="checkbox2" id="checkbox2" />
							<label for="checkbox2">checkbox 2</label>
						</p>-->
						<p class="btnType">
							<input type="hidden" name="op" value="{$op}" />
							<input type="hidden" name="part" value="{$part}" />
							<input type="hidden" name="act" value="{$act}" />
							<input type="hidden" name="oId" value="{$listObject->getId()}" />
							<input class="bo w90" type="reset" value="{$amessages.reset}" title="{$amessages.reset}" name="btnReset" />
							<input class="luu w90" type="submit" value="{$amessages.save}" title="{$amessages.save}" name="btnSubmit" />
						</p>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</div>
{include file="$usertemplate/footer.temp.html" title=footer}
